# Ignorando um único arquivo - nome do arquivo

# Ignorando arquicos de uma extensão predefinifa - *.extenção  (*.png)

#Ignorando pastas/diretórios

node_modules/
.vscode/
#################################################################################
